.jumbotron{
	background-image: url(img/background.jpg);
	background-size: cover;
	height: 775px;
	text-align: center;
	margin-top: -10px;
}

.jumbotron .display-4 {
	margin-top: 185px;
	color: white;
	font-family: "";
}

.jumbotron p {
	color: white;
	font-family: "Times New Roman", Times, serif;
}

.jumbotron hr {
	border-color: #00B8FF;
	width: 70px;
	border-width: 3px;
}

